<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/89ee44bb-3588-41a3-a40e-092f586d9e0a/resourcegroups/myresourcegroup/providers/Microsoft.ContainerRegistry/registries/IdentityServiceHost20200625145700</ResourceId>
    <ResourceName>IdentityServiceHost20200625145700</ResourceName>
    <ResourceGroup>myresourcegroup</ResourceGroup>
    <Subscription>Azure Pass - Sponsorluk</Subscription>
    <RegistryUrl>https://identityservicehost20200625145700.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6fdf254b-deaf-4336-8f70-9e360e3e5b8b</ProjectGuid>
  </PropertyGroup>
</Project>